@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h1:hover{
    animation: color-change 3s infinite;
}

body {
    font-family: Inter; /* keluarga font */
    font-size: 11px; /* Ukuran font utama pada tag <p></p> */
    background-color: #D6FF6B; /* Warna latar belakang laman web */
    color: #333333; /* Warna teks */ 
}
h1 {
    color: #333333; /* Warna tajuk (header)*/
    font-size: 35px; /* Ukuran font tajuk (header) */
    font-family: Inter; /* Keluarga font yang digunakan di tajuk (header) */
}
h2 {
    color:aqua;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
}